.modalBackground {
    width: 80vw;
    height: 80vh;
    background-color: rgb(208, 231, 211);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    top: 9%;
    left: 9%;
  } 

.modalContent {

  display: flex;
  flex-direction: column;

}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}