.modalBackground {
  width: 70%;
  height: 70%;
  position: fixed;
  display: flex;
  justify-content: left;
  align-items: center;
  z-index: 99;
  top: 9%;
  left: 9%;
} 

.modalContent {
  background-color: #DBE5ED;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative; 

}

.btnContainer {
  position: relative; 
  display: flex;
  justify-content: flex-end;
  top: 0%; 
  right: 0%;
  padding: 2px;
}

.sectionTitle {
  font-weight: bold;
  margin-top: 20px;
}

.topics,
.workshopRepoLinks,
.recordings,
.furtherResources {
  text-indent: 20px;
}