.footer-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../Assets/footerbackground.jpg");
    height: 50px;
  }
  
  .socials {
    display: flex;
    justify-content: flex-start;
  }
  
  .mail-icon {
    display: flex;
    justify-content: flex-end;
  }
  
  a 
  {
    padding: 0 5px 0 5px;
    color: white;
  }

