.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .socials {
    display: flex;
    justify-content: flex-start;
  }
  
  .mail-icon {
    display: flex;
    justify-content: flex-end;
  }
  
  

  a {
    padding: 0 5px 0 5px;
  }

