.footer-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("../../Assets/footerbackground.jpg");
    height: 50px;
    padding: 0 20px 0 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .socials {
    display: flex;
    justify-content: flex-start;
  }
  
  .mail-icon {
    display: flex;
    justify-content: flex-end;
  }
  
  a 
  {
    padding: 0 5px 0 5px;
    color: white;
    font-size: 1.5em;
  }